* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin : 5px 0px;
} 

#top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  margin: 0 10px;
  height: 50px;
}

#top-nav > p, #top-nav > a {
  padding: 10px;
  border-right: 1px solid black;
  height: 100%;
}

.list-del-btn {
  color: red !important;
  background-color: #eee;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
}

.list-del-btn:hover {
  color: #eee !important;
  background-color: red;
}